mixin footer()
  footer.footer
    .container
      .footer-elements.grid
        p.footer-name.grid__column_size_3 Chulakov School

        .grid__column_size_3

        p.footer-contact.grid__column_size_3 school@chulakov.ru
          br
          | +7 495 268 0661

        .footer-social.grid__column_size_3
          a(href="/") Facebook
          a(href="/") Вконтакте 
          a(href="/") Instagram
        
      .footer-elements.grid
        a.footer-privacy.grid__column_size_3 Правовая информация

        .grid__column_size_3

        .grid__column_size_3
          p.footer-address.grid__column_size_3 Ростов-на-Дону, 344010
            br
            | Кировский пр-т, д. 122, 3-й эт.
      