.footer
    color #FFFFFF
    background primary
    padding 25px 0 37px 0
    margin-top 15px

    & .grid
        margin-right 0

    & .grid__column_size_4
        margin-right 0

        &:nth-child(1)
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    & a
        color #FFFFFF
    &-name
        font-weight 500
    &-privacy
        display flex
        align-items flex-end
    &-privacy, &-social a
        font-weight 500
        font-size 12px
        line-height 15px
        letter-spacing 0.03em
        text-transform uppercase
    &-contact, &-address
        font-weight normal
    &-address
        margin-top 10px
    &-social
        display flex
        justify-content: flex-end;
        
        & a
            margin-left 15px
        & a:first-child
            margin-left 0

    &-elements:last-child
        margin-top 10px

@media (max-width 1200px)
    .footer
        &-privacy, &-social a
            font-size 9px
            line-height 12px

        & .grid__column_size_4:nth-child(2)
            width: 0

@media (max-width: 960px)
    .footer
        &-privacy, &-social a
            font-size 9px
            line-height 14px

@media (max-width 640px)
    .footer
        display none
    