mixin block4Elements()
    -
        const { idx } = attributes;

        elements = [
            { "title": "Важно общаться",   "text": "Люди учатся в ходе диалога, а не в процессе просмотра записанных видеороликов. На всех наших онлайн-курсах много живого общения, коммуникаций со специалистами и одногруппниками." }, 
            { "title": "Тут не все равно", "text": "Мы выявляем уровень знаний и желаемую цель каждого. Важен именно ваш результат. Поэтому обучение проходит в небольших группах и с закрепленными кураторами." }, 
            { "title": "Дрим-тим", "text": "Скоро состоится вебинар от арт-директор Студии." }, 
            { "title": "Практическая магия", "text": "Никаких иллюзий — все как в жизни. Полное погружение в рабочие процессы и задания по реальным кейсам крупнейших брендов." },
            { "title": "А что дальше?", "text": "Наша цель — ваши успехи после обучения. Центр развития карьеры школы поможет каждому понять, как применить полученные знания с максимальным профитом." },
        ];

    .block4-elements-element.grid__column_size_3
        p.block4-elements-element-title= elements[idx].title
        p.block4-elements-element-text= elements[idx].text