.block5 .grid__column_size_6
.block6 .grid__column_size_6
.block7 .grid__column_size_3
    margin-right 0

@media (max-width 960px)
    .block4-elements-grid
        &.grid__column_size_6
            width 352px
            margin-right 32px

        &.grid__column_size_9
            width 544px
            margin-right 32px

    .block5 .grid__column_size_6
    .block6 .grid__column_size_6
    .block7 .grid__column_size_6
        width 352px

    .block5 .grid__column_size_3
    .block6 .grid__column_size_3
    .block7 .grid__column_size_3
        width 160px


@media (max-width 640px)
    .block4-elements-grid
        &.grid__column_size_6
        &.grid__column_size_9
            width 100%

    .block5 .grid__column_size_6
    .block6 .grid__column_size_6
    .block7 .grid__column_size_6
        width 100%
        margin-right 0

    .block5 .grid__column_size_3
    .block6 .grid__column_size_3
    .block7 .grid__column_size_3
        width 100%