@import '../variables/variables.styl'

@import './base/typography.styl'
@import './base/elements.styl'
@import './base/container.styl'

@import '../blocks/base/header/header.styl'
@import '../blocks/base/footer/footer.styl'

@import './blocks.styl'
@import './blocks_grid.styl'

*
  margin 0
  padding 0
  // border: 1px solid red

body
  background-color backgroundColor