@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.eot');
  src: local('Graphik Medium'), local('GraphikLCG-Medium'),
      url('../fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
      url('../fonts/GraphikLCG-Medium.woff') format('woff'),
      url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Semibold.eot');
  src: local('Graphik Semibold'), local('GraphikLCG-Semibold'),
      url('../fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
      url('../fonts/GraphikLCG-Semibold.woff') format('woff'),
      url('../fonts/GraphikLCG-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.eot');
  src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
      url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
      url('../fonts/GraphikLCG-Regular.woff') format('woff'),
      url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: -32px;
}

.grid__column_size_1 {
  width: 64px;
  margin-right: 32px;
}

.grid__column_size_2 {
  width: 160px;
  margin-right: 32px;
}

.grid__column_size_3 {
  width: 256px;
  margin-right: 32px;
}

.grid__column_size_4 {
  width: 352px;
  margin-right: 32px;
}

.grid__column_size_5 {
  width: 448px;
  margin-right: 32px;
}

.grid__column_size_6 {
  width: 544px;
  margin-right: 32px;
}

.grid__column_size_7 {
  width: 640px;
  margin-right: 32px;
}

.grid__column_size_8 {
  width: 736px;
  margin-right: 32px;
}

.grid__column_size_9 {
  width: 832px;
  margin-right: 32px;
}

.grid__column_size_10 {
  width: 928px;
  margin-right: 32px;
}

.grid__column_size_11 {
  width: 1024px;
  margin-right: 32px;
}

.grid__column_size_12 {
  width: 1120px;
  margin-right: 32px;
}

@media (max-width: 960px) {
  .block4-elements-grid.grid__column_size_9 {
    width: 544px;
    margin-right: 32px;
  }

  .block4-elements-grid.grid__column_size_6 {
    width: 352px;
    margin-right: 32px;
  }
}