extends ../blocks/base/page/page

include ../blocks/base/heading/heading
include ../blocks/base/button/button
include ../blocks/base/link/link

include ../blocks/block1Events/block1Events
include ../blocks/block3Courses/block3Courses
include ../blocks/block4Elements/block4Elements


block head
  title PUG Example

block main

    .block1
        .block1-title.container
            +heading(level=1) Digital Marketing
        img.block1-img.container(src="src/images/1.png")
        +block1Events()

    .block2.container
        .block2-title
            +heading(level=2) Chulakov School — школа 
                br
                | креативных навыков
        p.block2-description Место, где практические знания 
            br
            | передаются студентам

        .block2-elements
            .block2-elements-element
                .grid.grid__column_size_4
                    p.block2-elements-element-circle.circle A
                .grid.grid__column_size_12
                    p.block2-elements-element-text
                        span Мы верим 
                        | в силу креативных индустрий. Индустриальная эпоха уходит на второй план, и
                        br
                        | экономика нуждается в новых 
                        br
                        | специалистах.
            .block2-elements-element
                .grid.grid__column_size_4
                    p.block2-elements-element-circle.circle B
                .grid.grid__column_size_12
                    p.block2-elements-element-text
                        span Наша миссия 
                        | — дать возможность 
                        br
                        | талантливым людям раскрыть свой 
                        br
                        | потенциал и реализоваться.
    
    .block3
        .block3-header.container.grid
            .block3-open.grid__column_size_4
                p Открыть все
                svg.svg-color(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M22 12L12.1005 21.8995L2.20101 12', stroke='#FF4D01', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')               
            
            .block3-title.grid__column_size_12
                +heading(level=2) Учим тому,
                    br
                    | что востребовано
        +block3Courses()

    .block4.container
        +heading(level=2).block4-title Как устроено
            br
            | обучение?
        p.block4-description Обучение недельными 
            br
            | спринтами
        
        .block4-elements
            .block4-elements-grid.grid__column_size_6
                +block4Elements(idx=0)
                +block4Elements(idx=1)
            .block4-elements-grid.grid__column_size_9
                +block4Elements(idx=2)
                +block4Elements(idx=3)
                +block4Elements(idx=4)

    .block5.container.grid
        .block5-header.grid__column_size_6
            .block5-header-title
                +heading(level=3) Трудо&shy;устройство 
                    br
                    | выпускников
            a.block5-header-open.circle(href="/")
                svg.svg-color(width='12', height='13', viewBox='0 0 12 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M1.43454 1.53186L10.9998 1.53186L10.9998 11.0972', stroke='#FF4D01', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    line(x1='10.5652', y1='2.41421', x2='2.41406', y2='10.5653', stroke='#FF4D01', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
        p.block5-description.grid__column_size_6 Нам важно, чтобы каждый студент извлек максимальную пользу от обучения, поэтому у нас существует центр развития карьеры.
    
    .block6.container.grid
        .block6-title.grid__column_size_6
            +heading(level=3) Найдем решение для вас
        p.block6-description.grid__column_size_6 Оставьте свои контакты, чтобы мы смогли узнать ваши цели
            | и подобрать оптимальную траекторию обучения.

        form.block6-form.grid__column_size_6
            input(type="text", name="name", placeholder="Имя")
            br
            input(type="tel", name="tel", placeholder="Телефон")
            br
            input(type="email", name="email", placeholder="E-mail")

    .block7.container.grid
        .block7-elements.grid__column_size_3
            a.block7-elements-sub.circle-sub(href="/") записаться
        .block7-elements.grid__column_size_3
            p.block7-elements-text Нажимая на кнопку, вы даете
                span согласие 
                | на обработку персональных 
                br
                | данных и соглашаетесь с политикой 
                br
                | конфиденциальности.
    

    #root