extends ../blocks/base/page/page

include ../blocks/base/heading/heading
include ../blocks/base/button/button
include ../blocks/base/link/link

include ../blocks/block1Events/block1Events
include ../blocks/block3Courses/block3Courses
include ../blocks/block4Elements/block4Elements


block head
  title Practice | 2021

block main
    #root
