mixin header()
  header.header
    .container
      p.header-logo.grid__column_size_3 chsch

      .grid__column_size_3
        a.header-sub.circle-sub.grid(href="/") записаться

      nav.header-nav.grid__column_size_3
          .header-nav-link
            a(href="/") О нас
          .header-nav-link
            a(href="/") Курс
          .header-nav-link_active
            .header-nav-link_active-line
            a(href="/") Формат
          .header-nav-link
            a(href="/") Записаться